doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style
            include style.css
    body
        div(id='root')
            input(type="text" id="name" placeholder="Название учреждения")
            input(type="text" id="address" placeholder="Адрес учреждения")
            input(type="text" id="phone" placeholder="Телефон учреждения")
            button(id="addBtn") #{'Add'}
            button(id="upBtn") #{'Update'}
            input(type="text" id="identify" placeholder="Идентификатор")
            button(id="delBtn") #{'Delete'}
            button(id="loadBtn") #{'Load to LocalStorage'}
            hr
            div(id='out')
    script
        include ./main.js